.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #333;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  /* position:fixed; */
  /* animation: bounceInDown var(--animate-duration) var(--animate-delay); */
}

.dark {
  background: var(--dark-nav-bar);
  color: var(--dark-text);
}
.light {
  background: var(--light-nav-bar);
  color: var(--light-text) !important;
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  animation: bounceInDown var(--animate-duration) var(--animate-delay);
  cursor: pointer;
}

.ul-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  animation: bounceInDown var(--animate-duration) var(--animate-delay);
}

.nav-link {
  /* color: #fff; */
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dark-link {
  color: var(--dark-text);
}
.light-link {
  color: var(--light-text);
}
.dark-text {
  color: var(--dark-text);
}
.light-text {
  color: var(--light-text);
}

.nav-link-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-bottom: -0.2rem;
}

.nav-link:hover {
  color: #4a90e2;
  color: #f52cf9;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4a90e2;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.admin-part {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: bounceInDown var(--animate-duration) var(--animate-delay);
}

@media (max-width: 576px) {
  .admin-part {
    gap: 0.5rem;
  }
}

.admin-button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 576px) {
  .logout-button {
    padding: 0.5rem 0.75rem !important;
  }
}

.admin-button:hover {
  background-color: #3a7bc8;
}
.logout-button:hover {
  background-color: #c0392b;
}

.mobile-navbar {
  display: none;
  /* background-color: #333; */
  padding: 1rem;
  position: relative;
  z-index: 1000;
}

.mobile-navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 0; */
  padding: 0.5rem 2rem;
}
@media (max-width: 576px) {
  .mobile-navbar-header {
    padding: 0.5rem 1.3rem;
  }
}

.mobile-navbar-header h2 {
  margin: 0;
  /* color: white; */
  font-size: 1.5rem;
}

.mobile-navbar-icon {
  /* color: white; */
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mobile-navbar-icon:hover {
  color: #4a90e2;
}

.mobile-navbar-menu {
  /* background-color: #2c2c2c; */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-out;
  z-index: 999;
}

.mobile-navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-navbar-menu li {
  padding: 0.75rem 0;
  border-bottom: 1px solid #444;
}

.mobile-navbar-menu li:last-child {
  border-bottom: none;
}

.mobile-navbar-menu .nav-link {
  display: block;
  padding: 0.5rem 1.6rem;
  /* color: #f0f0f0; */
  text-decoration: none;
  transition: color 0.2s ease;
}

.mobile-navbar-menu .nav-link:hover {
  color: #4a90e2;
  color: #fff;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar-container {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }

  .navbar-container {
    display: block;
  }
}

/* .MuiSwitch-root {
    margin-right: 0.5rem;
} */

.MuiSwitch-switchBase {
  color: #fff !important;
}

.Mui-checked {
  color: #4a90e2 !important;
}

.MuiSwitch-track {
  background-color: #666 !important;
}

.active {
  background: #f52cf9;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
}

.active:hover {
  background: #3a7bc8;
  color: #f52cf9 !important;
}
