
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #333;
    color: #fff;
    /* animation:slideInUp var(--animate-duration) var(--animate-delay); */
}
.footer-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-content ul {
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-icons-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-icons-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer-icon{
    font-size: 1.6rem;
    color: var(--dark-text-color);
}
.footer-icon:hover {    
    color: var(--dark-title-color);
    animation:bounce var(--animate-duration) var(--animate-delay);
    transition: transform var(--animate-duration) var(--animate-delay);
}

