@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.App {
  /* min-width: 300px; */
  /* height: 100vh !important; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.3s;

  --bg-dark: #111; /* #111 , #15151d*/
  --bg-light: #f8f9fa; /*#fce5cd*/

  --light-title-color: #351c75;
  --dark-title-color: #4672fe;

  --light-sub-title-color: #e69138;
  --dark-sub-title-color: #e0e0e0;

  --commen-bg-container-color: #2d2d2d;

  --technical-skills-color: #7ec699;
  --technical-skills-background-color: #cc99cd;

  --light-nav-bar: #f7d7b5; /* #e0e0e0, #f7d7b5 #fce5cd #fce5cd */
  --dark-nav-bar: #15151d; /* #2d2d2d,  #15151d */

  --dark-text: #e0e0e0; /* #4672fe */
  --light-text: #102a42; /* #351c75 , #333*/

  /* --exp-title-text:#102a42; */

  --c-background-dark: #f7d7b5;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.all-pages-container {
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem 2rem; */
  padding: 2rem 3rem;
  width: 100%;
  gap: 2.5rem;
  min-height: 100vh;
  /* max-width: 1100px; */
  margin: 0 auto;
}
@media (max-width: 576px) {
  .all-pages-container {
    padding: 1.5rem 2rem;
  }
}

.dark-bg-parent-container {
  background-color: var(--bg-dark);
  color: var(--dark-text);
}

.light-bg-parent-container {
  background-color: var(--bg-light);
  color: var(--light-text);
}

.common-container {
  width: 100%;
  background: var(--commen-bg-container-color);
  color: var(--dark-text) !important;
  padding: 2rem;
  border-radius: 8px;
}

/* table heade color #151b23 */
/* backgroundColor : #0d1117 */

.row-parent-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  /* padding: 2rem 0rem; */
}

.col-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem;
}

/* .default-row-container{
  display: flex;
  flex-wrap:wrap;
  width: 90%;
  padding:1rem 3.1rem;
}
.default-column-container{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  width: 100%;
  padding:1rem 3.1rem;

} */

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
